<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <form>
        <div class="form-row" style="margin:20px 0 0 15px">
            <label><b>İletişim Formu</b></label>
        </div>
        <div class="form-row" style="margin:5px 0 0 10px">
         
            <div class="form-group col-md-2">
                <input type="text" class="form-control" id="name" placeholder="İsim">
            </div>
            <div class="form-group col-md-2">
                <input type="text" class="form-control" id="surname" placeholder="Soyisim">
            </div>

        </div>
        <div class="form-row" style="margin:5px 0 0 10px">
            <div class="form-group col-md-4">
                <textarea class="form-control" id="message" placeholder="Mesajınız..." rows="5"></textarea>
            </div>
        </div>
        <div class="form-row" style="margin:2px 0 0 380px">
            <button type="button" class="btn btn-success" id="gonder" onclick="ECommerce.Page.Contact.Send();">Gönder</button>
        </div>
    </form>





</body>
</html>

