@model ECommerce.Data.Models.Category
<!--     @{await Html.RenderPartialAsync("_Partial_Categories");}-->

<h2>@Model.Name</h2>
<p>@Model.Description</p>

<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Ürün Adı ve Açıklaması</span>
            </div>
            <input type="hidden" aria-label="First name" class="form-control" id="CategoryId" value="@Model.Id" />
            <input type="text" aria-label="First name" class="form-control" id="ProductName" />
            <input type="text" aria-label="First name" class="form-control" id="ProductDescription" />
            <input type="button" class="btn btn-primary" value="Kaydet" onclick="ECommerce.Page.Category.Save();" />

        </div>
    </div>
</div>

<div id="Holder-Products">

</div>

<script>
    $(document).ready(function () {
        ECommerce.Page.Category.List();
    });
</script>
